.rainbow-text {
  background-image: url(https://images.pexels.com/photos/3651579/pexels-photo-3651579.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-clip: text;
  color: transparent;
}
